# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

**/logs
.tmp
.log
.idea/workspace.xml
# Игнорировать все файлы в каталоге build/
.idea/
File Server/Storage emulator/task.html
*.yaml
*.html
*.bin
*.lock
*.class
*.css
*.js
*.idx
*.xml
File Server/task/build/tmp/test/jar_extract_15784334240729216484_tmp
File Server/task/build/tmp/test/jar_extract_1819116930500699802_tmp
File Server/task/build/tmp/test/jar_extract_7248815800745340249_tmp
File Server/task/build/tmp/test/jar_extract_7875075953224128119_tmp
